h1{
    text-align: center;
   text-size-adjust: auto ;
}

img {
  width: 100%;
  height: auto;
  display: flex;
  object-fit: cover;
/*  position: fixed;
  top: 0%;
}

.ratio-box {
  width: 100%;
  height: auto%;
  padding-top: 100%;
  position: relative;
}

.the-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
}*/
